{% extends "shared/base.html" %}


{% block title %}
  <title>EFREI Cinema</title>
{% endblock %}

{% block content %}
  <!-- Authentication Pop-up -->
  {% with msg=msg %}    
  {% include "components/alerts.html" %}
  {% endwith %}

  <div class="container">
  <div class="row">
    <div class="col">
      <br/>
      <h1 class="display-5"><strong>CINEMA API ...🎬</strong></h1>
      <br/>
      <hr class="dropdown-divider"></li>
      <br/>
    </div>
  </div>
  
  <div class="row">
    {% for film in films %}
      <div class="col-lg-4 col-md-3 col-sm-10 mr-auto">
        {% with obj=film %}
        {% include "components/cards.html" %}
      {% endwith %}

        {% if loop.index %3 %}
          </div>
        {% else %}
          </div></div><br><div class="row">
        {% endif %}
    {% endfor %}
</div>
</div>

<div>
  <script type="module" src="https://md-block.verou.me/md-block.js">Test</script>
</div>

{% endblock %}