<div class="card shadow p-3 mb-2 bg-body rounded" style="width: 22rem;">
    <img class="card-img-top mx-auto" src="https://otakufr.s3.eu-west-3.amazonaws.com/one_piece_chapitre_1080_resume_complet_3b05f77545.jpg" alt="Film cover" style="width: 9rem height=43;">
    <div class="card-body">
      <h5 class="card-title"><strong class="text-light bg-dark">{{obj.titre}}</strong></h5>
      <h6 class="card-subtitle mb-2 text-muted"><strong>Langue</strong> : {{obj.langue}}</h6>
      <hr class="dropdown-divider"></li>
      <p class="card-text"><strong>Réalisateur</strong> : {{obj.realisateur}}</p>
      <p class="card-text"><strong>Acteurs Principaux</strong> : {{obj.acteurs_principaux}}</p>
      <p class="card-text"><strong>Langue</strong> : {{obj.langue}}</p>
      <a href="/films/details/{{obj.id}}" class="btn btn-primary">Read more</a>
    </div>
  </div>