<div class="card shadow p-3 mb-2 bg-body rounded" style="width: 22rem;">
    <img class="card-img-top mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiFzTA1xqPC1yUhWY0WYtE2Gx2lkAMmVztuQ&usqp=CAU" alt="Card image cap" style="width: 9rem;">
    <div class="card-body">
      <h5 class="card-title">{{obj.titre}} (ID:{{obj.id}})</h5>
      <h6 class="card-subtitle mb-2 text-muted"><strong>Langue</strong> : {{obj.langue}}</h6>
      <hr class="dropdown-divider"></li>
      <p class="card-text"><strong>Réalisateur</strong> : {{obj.realisateur}}</p>
      <p class="card-text"><strong>Acteurs Principaux</strong> : {{obj.acteurs_principaux}}</p>
      <p class="card-text"><strong>Langue</strong> : {{obj.langue}}</p>
      <a href="/films/detail/{{obj.id}}" class="btn btn-primary">Read more</a>
    </div>
  </div>