<div class="card shadow p-3 mb-2 bg-body rounded" style="width: 22rem;">
    <img class="card-img-top mx-auto" src="https://media.istockphoto.com/id/1084381198/fr/vectoriel/icône-de-clin-éléments-du-cinéma-dans-les-icônes-de-style-néon-icône-simple-pour-sites.jpg?s=170667a&w=0&k=20&c=kt-G4uxPdp0WjhMgwjHT6e-cLdw16hMDBJ4XEOIHdeQ=" alt="Film cover" style="width: 9rem height=30;">
    <div class="card-body">
      <h5 class="card-title"><strong class="text-light bg-dark">{{obj.titre}}</strong></h5>
      <h6 class="card-subtitle mb-2 text-muted"><strong>Langue</strong> : {{obj.langue}}</h6>
      <hr class="dropdown-divider"></li>
      <p class="card-text"><strong>Réalisateur</strong> : {{obj.realisateur}}</p>
      <p class="card-text"><strong>Acteurs Principaux</strong> : {{obj.acteurs_principaux}}</p>
      <p class="card-text"><strong>Langue</strong> : {{obj.langue}}</p>
      <a href="/film-webapp/details/{{obj.id}}" class="btn btn-success">Voir plus...</a>
    </div>
  </div>