<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <iframe src="https://giphy.com/embed/XeMDvA4hW8B7okZs4X" href="/" width="100" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><strong>Accueil</strong></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>Docs</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/docs/" target="_blank">Swagger UI Docs</a></li>
              <li><a class="dropdown-item" href="/redoc/" target="_blank">Redoc</a></li>
            </ul>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>Poster</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/film-webapp/create-film/">Poster un film</a></li>
              <li><a class="dropdown-item" href="/seances-webapp/create-seance/">Poster une séance</a></li>
            </ul>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>Authentification</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/auth-webapp/login/">Se connecter</a></li>
              <li><a class="dropdown-item" href="/users-webapp/register/">Créer un compte</a></li>
            </ul>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <strong>Séances</strong>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/seances-webapp/allSeances/">Toutes les séances</a></li>
                <li><a class="dropdown-item" href="/seances-webapp/search-seance-by-city/">Séances dans une ville</a></li>
              </ul>


            <li class="nav-item">
              <a class="nav-link" href=""><strong></strong></a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> | Cinema API 1.0.0</a>
          </li>
        </ul>
        <form class="d-flex" action="/search/">
          <input class="form-control me-2" name="query" id="autocomplete" type="search" placeholder="Rechercher un film..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>