<div class="card shadow p-3 mb-2 bg-body rounded" style="width: 22rem;">
    <img class="card-img-top mx-auto" src="https://otakufr.s3.eu-west-3.amazonaws.com/one_piece_chapitre_1080_resume_complet_3b05f77545.jpg" alt="Film cover" style="width: 9rem height=43;">
    <div class="card-body">
      <h5 class="card-title"><strong class="text-light bg-dark">Film : {{obj.film_titre}}</strong></h5>
      <h6 class="card-subtitle mb-2 text-muted"><strong>Ville</strong> : {{obj.ville}}</h6>
      <hr class="dropdown-divider"></li>
      <p class="card-text"><strong>Date Début</strong> : {{obj.date_debut}}</p>
      <p class="card-text"><strong>Heure Début</strong> : {{obj.heure_debut}}</p>
      <a href="/seances-webapp/details/{{obj.id}}" class="btn btn-primary">Voir plus...</a>
    </div>
  </div>